/* Layout and Background */
body {
	background-color: black;
}
.main{
	min-width: 1200px;
	height: 500px;
	margin-top: 110px;
	padding-left: 100px;
	position: relative;
	z-index: 1;
	background-color: white;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

/* Ryu Images and Animation */
.ryu {
	width: 658px;
	height: 494px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 658px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

/* Hadouken Images and Animation */
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	float: left;
	position: absolute;
	top: 170px;
	left: 620px;
	display: none;
	z-index: 10;
}